<div class="pt-3 pb-3 d-flex justify-content-md-start justify-content-between"><h2 class="d-md-block d-none" [translate]="'Requests.RequestsListTitle'"></h2><h2 class="d-sm-block d-md-none" [translate]="'Requests.Requests'"></h2>
  <button type="button" class="btn btn-success btn-requests" style="min-width: 145px;max-height: 45px;" (click)="newRequestDialog(newRequest)">
    <span>＋ {{'Requests.NewRequest' | translate}}</span>
  </button>
</div>

<!-- Listing requests options -->
<ng-template #newRequest>
  <span aria-hidden="true" class="modal_close-btn" (click)="exitRequests()">×</span>
  <h2 class="font-4xl modal-header mt-lg-3 mt-0 mb-lg-4 mb-2 d-lg-block d-none"><span [translate]="'Requests.ModalTitleRequests'"></span></h2>
  <h4 class="modal-header mt-lg-3 mt-0 mb-lg-4 mb-2 d-lg-none d-block"><span [translate]="'Requests.ModalTitleRequests'"></span></h4>

  <div class="modal-body p-0 p-md-3">
    <!-- Custom message -->
    <div *ngIf="requestHeader" class="requests_new-card">
      <div class="col-12">
        <div class="row">
            <div class="col-12 requests_new-card__title">
              <h4 [translate] = "'Requests.AboutRequests'" ></h4>
            </div>
        </div>
        <div class="row">
            <div class="col-12 requests_new-card__content">
                <div [innerHTML]="requestHeader"></div>
            </div>
        </div>
      </div>
    </div>

    <ng-container *ngIf="!requestTypes || (requestTypes && requestTypes.length === 0)">
      <p [translate]="'Requests.NoRequestsAvailable'"></p>
    </ng-container>
    <ng-container *ngIf="requestTypes && requestTypes.length > 0">
      <div *ngFor="let requestType of requestTypes | groupBy: 'category' | values ; index as i" class="mt-3">
        <form-collapsible [collapsed]="i !== 0" >
          <form-header>
            <h4 class="d-inline"> {{ requestType[0].category | translate }} </h4>
          </form-header>
          <form-body>
            <div *ngFor="let entry of requestType" class="mt-3">
              <div class="card pt-3 pb-3">
                <div class="col-12">
                  <div class="row">
                    <div class="col-12 col-md-4 d-flex">
                      <h5 class="mt-auto mb-auto" [translate]="entry.name"></h5>
                    </div>
                    <div class="col text-center text-md-right h-100">
                      <a
                        class="btn btn-secondary btn-requests btn-requests-grey mt-3 mt-md-0"
                        (click)="navigateToEntrypoint(entry.entryPoint, entry.alternateName);"
                        [translate]="'Requests.Select'" data-dismiss="close"
                      ></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form-body>
        </form-collapsible>
      </div>
    </ng-container>
  </div>

</ng-template>

<!-- Filtering -->
<div class="requests_navbar d-none d-md-block">
  <form class="form-inline p-3 col">
    <div class="form-group col-lg-4 col-md-4 flex-nowrap pt-md-0 pt-sm-2">
      <label class="pr-2" for="searchText" [translate]="'Requests.ShowOnly'"></label>
      <select [(ngModel)]="selectedRequests"   name="selectedRequests"  class="form-control flex-fill" (change)="getRequests(selectedRequests,0, 5)" style="min-width: 100px;">
        <option  [ngValue]="'All'" [translate]="'Requests.AllRequests'" [selected]="true"></option>
        <option [ngValue]="'pending'" [translate]="'Requests.PendingRequests'"></option>
        <option [ngValue]="'approved'" [translate]="'Requests.ApprovedRequests'"></option>
        <option [ngValue]="'failed'" [translate]="'Requests.FailedRequests'"></option>
      </select>
    </div>
<!--    <div class="form-group col-lg-4 col-md-4 flex-nowrap pt-md-0 pt-sm-2">
      <label class="pr-2" for="searchText" [translate]="'Requests.OrderBy'"></label>
      <select [(ngModel)]="selectedRequests"   name="selectedRequests"  class="form-control flex-fill" (change)="getRequests(selectedRequests)" style="min-width: 100px;">
        <option  [ngValue]="'all'" [translate]="'Requests.AllRequests'" [selected]="true"></option>
     <option  [ngValue]="'mes'" [translate]="'Requests.CompletedRequests'" ></option>
        &lt;!&ndash;    <option value="value2" [translate]="'Requests.CompletedRequests'"></option>
           <option value="value3" [translate]="'Requests.PendingRequests'"></option>&ndash;&gt;
      </select>
    </div>-->
    <div class="form-group col-lg-6 col-md-6 flex-nowrap pt-md-0 pt-sm-2">
      <label class="pr-2" for="searchText" [translate]="'Requests.Filter'"></label>
      <input [(ngModel)]="searchText"  (keyup)="onSearchTextKeyUp($event)" spellcheck="false" type="text" (keydown)="onSearchTextKeyDown($event)"
             id="searchText" name="searchText" class="form-control flex-fill col" style="min-width: 100px;" placeholder="{{'Requests.PlaceHolderRequests' | translate}}">
    </div>
  </form>
</div>

<!-- Listing student requests -->

<!-- Custom message -->
<div *ngIf="requestHeader" class="card col-12 ml-2 mt-1">
  <div class="card-body" >
      <h4 [translate] = "'Requests.AboutRequests'" ></h4>
      <div [innerHTML]="requestHeader"></div>
    </div>
</div>

<div *ngIf="allrequests">
  <div *ngIf="this.count >1 || this.count == 0" class=" mt-1 text-right text-color-theme font-xl sis-brand-bold">  {{this.count}} {{'Requests.Results' | translate}}</div>
  <div *ngIf="this.count ==1" class=" mt-1 text-right text-color-theme font-xl sis-brand-bold">  {{this.count}} {{'Requests.Result' | translate}}</div>
</div>
<hr>

<div *ngIf="allrequests.length != 0; else Empty ">
  <div class="inner__content"
        infinite-scroll
        [infiniteScrollDistance]="2"
        [infiniteScrollThrottle]="50"
        [infiniteScrollContainer]="selector"
        [fromRoot]="true"
        (scrolled)="onScroll()">
  <div class="pr-4" *ngFor="let request of allrequests; let i = index;">
    <div class="card col-12 ml-2 mt-1">
      <div class="card-body">
        <!-- <h4>{{request.requestActionName}}</h4> -->
        <div class="d-flex row m-auto flex-column flex-md-row  word-break">
          <div *ngIf="request.object"><h4>{{request.object.name}}</h4></div>
          <div *ngIf="!request.object"><h4>{{request.name | translate}}</h4></div>
          <div [ngClass]="{
            'text-success':request.actionStatus.alternateName=='CompletedActionStatus',
            'text-danger':request.actionStatus.alternateName=='FailedActionStatus' || request.actionStatus.alternateName=='CancelledActionStatus',
            'text-gray-600':request.actionStatus.alternateName=='PotentialActionStatus' || request.actionStatus.alternateName=='ActiveActionStatus'
          }" class="text-md-right ml-md-auto font-lg">{{'Requests.ActionStatusTypes.' + request.actionStatus.alternateName | translate}}</div>
        </div>
        <div class="font-lg">{{request.dateCreated | date: 'dd/MM/yyyy'}}</div>
        <!-- <button *ngIf="request.actionStatus.alternateName=='ActiveActionStatus'" type="button" class="align-self-start btn btn-secondary btn-requests btn-requests-grey" disabled [translate]="'Requests.Download'"></button> -->

           <!-- Request replies from secretariat -->
          <!-- <div *ngIf="request.messages.length!=0">  -->

          <!-- <div *ngIf="!isCollapsed[i]">  -->
          <div *ngFor="let message of request.messages; let j=index;">
            <div *ngIf="j==0">
              <div class="text-secondary d-none d-sm-block pt-3">{{'Requests.RequestReply' | translate}} ({{message.dateCreated | date: 'dd/MM/yyyy'}}):</div>
              <div class="pt-2 d-flex">
                <div class="flex-fill">
                  <div class="border-left-2 border-left pl-3 text-dark font-lg">{{message.body}}</div>
                </div>
                <button *ngIf="message.attachments.length!=0 && (request.actionStatus.alternateName=='ActiveActionStatus' || request.actionStatus.alternateName=='CompletedActionStatus')"  (click)="downloadFile(message.attachments)" type="button" class="align-self-start btn btn-secondary btn-requests btn-requests-grey d-none d-md-block" [translate]="'Requests.Download'"></button>
                <button *ngIf="message.attachments.length!=0 && (request.actionStatus.alternateName=='ActiveActionStatus' || request.actionStatus.alternateName=='CompletedActionStatus')"
                        (click)="downloadFile(message.attachments)"
                        type="button" class="align-self-start btn btn-secondary btn-requests btn-requests-grey d-none d-sm-block d-md-none " [translate]="'Requests.Download'"></button>
              </div>
              <button *ngIf="message.attachments.length!=0 && (request.actionStatus.alternateName=='ActiveActionStatus' || request.actionStatus.alternateName=='CompletedActionStatus')"
                      (click)="downloadFile(message.attachments)"
                      type="button" class="align-self-start btn btn-secondary btn-requests btn-requests-grey d-block d-sm-none mt-2" [translate]="'Requests.Download'"></button>
            </div>
            <div *ngIf="j>0">
              <div *ngIf="!isCollapsed[i]">
                <div class="text-secondary d-none d-sm-block pt-3">{{'Requests.RequestReply' | translate}} ({{message.dateCreated | date: 'dd/MM/yyyy'}}):</div>
                <div class="pt-2 d-flex">
                  <div class="flex-fill">
                    <div class="border-left-2 border-left pl-3 text-dark font-lg">{{message.body}}</div>
                  </div>
                  <button *ngIf="message.attachments.length!=0 && (request.actionStatus.alternateName=='ActiveActionStatus' || request.actionStatus.alternateName=='CompletedActionStatus')"  (click)="downloadFile(message.attachments)" type="button" class="align-self-start btn btn-secondary btn-requests btn-requests-grey d-none d-md-block" [translate]="'Requests.Download'"></button>
                  <button *ngIf="message.attachments.length!=0 && (request.actionStatus.alternateName=='ActiveActionStatus' || request.actionStatus.alternateName=='CompletedActionStatus')"
                          (click)="downloadFile(message.attachments)" type="button" class="align-self-center btn btn-secondary btn-requests btn-requests-grey  d-none d-sm-block d-md-none"
                          [translate]="'Requests.Download'"></button>
                </div>
                <button *ngIf="message.attachments.length!=0 && (request.actionStatus.alternateName=='ActiveActionStatus' || request.actionStatus.alternateName=='CompletedActionStatus')"
                        (click)="downloadFile(message.attachments)" type="button" class="align-self-center btn btn-secondary btn-requests btn-requests-grey d-block d-sm-none mt-2"
                        [translate]="'Requests.Download'"></button>
              </div>
            </div>
          </div>
          <!-- Request message from student -->
          <div *ngIf="request.description">
            <div class="text-secondary d-none d-sm-block pt-3">{{'Requests.RequestInfo' | translate}} ({{request.dateCreated | date: 'dd/MM/yyyy'}}):</div>
            <div class="pt-2 d-flex">
              <div class="flex-fill word-break">
                <div *ngIf="request.description" class="border-left-2 border-left pl-3 text-muted font-lg">{{request.description}}</div>
              </div>
            </div>
  <!--        </div>-->
          <br>
          <!-- Comment: This feature will be included later -->

          <!-- Show more - button in small screens -->
          <div *ngIf="request.messages.length>1">
            <div class="d-flex align-items-center">
              <!-- <span class="text-secondary" [translate]="'Requests.LessInfo'"></span>
              <i class="text-secondary ml-2 pt-1 fas fa-angle-up"></i> -->

              <button class="btn text-secondary" type="button" (click)="isCollapsed[i]=!isCollapsed[i];">
                <span [translate]="'Requests.LessInfo'" *ngIf="!isCollapsed[i]"></span>
                <i class="text-secondary ml-2 pt-1 fas fa-angle-up" *ngIf="!isCollapsed[i]"></i>
                <span [translate]="'Requests.MoreInfo'" *ngIf="isCollapsed[i]"></span>
                <i class="text-secondary ml-2 pt-1 fas fa-angle-down" *ngIf="isCollapsed[i]"></i>
              </button>
            </div>
          </div>
        </div>


        <!--      <div class="text-muted d-none d-sm-block"> Απάντηση από τη γραμματεία (9/10/2020): </div> -->
        <!-- <div class="d-none d-md-block">
          <div class="pt-2 d-flex">
            <div class="flex-fill">
              <div *ngIf="request.description" class="border-secondary border-left-3 border-left pl-2 text-muted">{{request.description}}</div>
              <div *ngIf="!request.description" class="border-secondary border-left-3 border-left pl-2  text-muted" [translate]="'Requests.RequestsNewDescription'"></div>
            </div>
            <button *ngIf="request.status=='ActiveActionStatus'" type="button" class="align-self-start btn btn-secondary btn-requests btn-requests-grey" disabled [translate]="'Requests.Download'"></button>
          </div>
          <br> -->

      </div>
    </div>
  </div>
</div>
</div>

<ng-template #Empty>
  <span>
    <span *ngIf="!loading && allrequests && allrequests.length===0" [translate]="'Requests.NoRequests'"></span>
  </span>
</ng-template>
